/* barra superior */

/* generales */
html{
    font-size: 62.5%;
}

body{
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}

.cont{
    margin: 0 auto;
    width: 100%;
    padding: 0 2em 0 2em;
    box-sizing: border-box;
}

/* barra */
.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barra__logo{
    margin: 0.63em 0;
}

.barra__busqueda{
    margin: 0.63em 0;
}

.barra__botbusqueda{
    background: url(../imagenes/icon_bum.svg) no-repeat;
    background-position: 96% 50%;
    font-size: 0.9em;
    padding: 0.6em 2em;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    border-radius: 5em;
    width: 30em;
}

.barra_login{
    margin: 0.63em 0;
}

.barra__botlogin{
    font-size: 0.9em;
    padding: 0.6em 2em;
    color: #2A7AE4;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #2A7AE4;
}

/* banner */
.banner{
    background: url(../imagenes/bann_supe.svg);
    display: flex;
    align-items: center;
    height: 23.5em;
}

/* contenido */
.contenido{
    padding: 2em 0em;
}

.contenido__titulo{
    font-size: 2em;
    color: #464646;
    padding: 0;
}

h3{
    margin: 0;
    font-size: .9em;
    color: #464646;
}

.producto{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.producto__contenido{
    padding: 0;
}

.producto__presio{
    margin: 0;
    color: #464646;
    font-size: 1em;
}

.producto a{
    color: #2A7AE4;
    text-decoration: none;
}

.producto a:hover{
    text-decoration: underline;
}

/* rodapie */
.rodapie{
    text-align: center;
    padding: 2em 0;
}

h5{
    font-size: 1em;
    color: #464646;
    font-weight: normal;
    margin: 0;
}

.rodapie__p{
    font-size: 1em;
    color: #464646;
    margin: 0;
}


/* adaptables */

/* pc */
@media (min-width: 1200px) {
    .cont{width: 75em;}
}